#app-menu {
  width: 100%;
  background-color: #414144;
  color: white;
  font-size: .7em;
  padding: .5em;
}

#app-menu ul[role="menu"] {
  display: inline-block;
  list-style: none;
  margin: 0;
}

#app-menu ul[role="menu"] li[role="menuitem"] {
  display: inline-block;
  cursor: pointer;
}
