.layer-canvas:not(:first-child) {
  position: absolute;
  top: 29px;
  left: 8px;
}

.layer-canvas.pencil {
  cursor: url('/cursors/pencil.svg') 1 30, auto;
}

.layer-canvas.eraser {
  cursor: url('/cursors/eraser.svg') 1 30, auto;
}

.layer-canvas.eyedropper {
  cursor: url('/cursors/eyedropper.svg') 1 30, auto;
}
